.banner {
    border: solid #0b2b5f;
    border-radius: 5px;
    font-family: fantasy;
    background-color: #0b2b5f;
    
}

h1{
    color: rgba(255, 255, 255, 0.918);
}

h2{
    font-family: cursive;
    
}

.logo{
    padding-right: 5px;
}



.linhas{
    color: rgb(255, 255, 255);
}

