.banner {
    border: solid rgb(100, 116, 139);
    border-radius: 5px;
    font-family: fantasy;
    background-color: rgb(100, 116, 139);
    
}

h2{
    font-family: cursive;
    
}

.logo{
    padding-right: 5px;
}



.linhas{
    color: white;
}

